.header-route {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.header-route:hover {
  text-decoration: underline;
  color: #f55050;
}
.active {
  color: #f55050;
}
a {
  color: black;
}
